.grid-container {
    display: grid;
    grid-template-areas:
        'header header'
        'aside main'
        'aside main';
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px 1fr;
    background-color: rgb(55, 64, 97);
    color: rgb(226, 223, 223);
    height: 100vh;
    padding: 60px;
}
.grid-title {
    grid-area: header;
    padding: 10px;
    text-align: center;
}
.filter-container {
    grid-area: aside;
    background-color: #e6e6e6;
    border-radius: 30px;
    color: #374061;
    padding: 20px;
}
main {
    grid-area: main;
    padding: 30px;
}
