.hero__container-section {
    color: #fff;
    padding: 160px 0;
}

.hero__container-row {
    align-items: center;
}

.row {
    display: flex;
    margin-bottom: -15px;
    flex-wrap: wrap;
    align-content: stretch;
}

.column {
    margin-bottom: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
}

.hero__container-text-container {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
    margin-left: 50px;
}

.heading {
    color: #c20538;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.title {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #e9eaec;
}
.dark {
    color: #1c2237;
}
.darkBg {
    background-color: #374061;
}
.hero__container-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
}
.hero__container-img-wrapper {
    max-width: 555px;
}
.hero__container-img {
    max-width: 95%;
    padding-right: 0;
    margin: 0 0 0 10px;
}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
@media screen and (max-width: 991px) {
    .wrapper {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media screen and (max-width: 768px) {
    .hero__container-text-wrapper {
        padding-bottom: 65px;
    }
    .column {
        max-width: 100%;
        flex-basis: 100%;
    }
    .title {
        margin-bottom: 24px;
        font-size: 25px;
        line-height: 1.1;
        font-weight: 600;
        color: #e9eaec;
    }
}
